<div class="container">

    <form action="" class="form">

            <label for="">Enter Your Account Number</label>
            <input type="text" name="accnumber" id="" class="form-control">
            <label for="">Confirm Your Account Number</label>
            <input type="text" name="accnumber" id="" class="form-control">
            <label for="">Enter Amount to be deposited</label>
            <input type="text" name="deposit" id="" class="form-control"> <br>
            <button type="submit" class="btn btn-success">Deposit</button> &nbsp;
            <button type="submit" class="btn btn-warning"  [routerLink]="['/users','user-dash']">Back</button>&nbsp;


    </form>

</div>