
<br><br>
<div class="container">
    
<div style=" border-style: inset; width: 450px; height: 450px; align-content: center; margin-left: 350px;
        border-radius: 10px; background-color: rgb(226, 168, 121); border-width: 5px; border-color: rgb(68, 55, 189);">
    <br>
    <form style="margin-left: 10px;"  class="form"  >

        

        <label for="" >Enter Email Id : </label>
        <input type="text" name="uid" [(ngModel)]="uid"><br>

        <label for=""><br>Enter User password : </label>
        <input type="text" name="upass" [(ngModel)]="upass"><br><br>

        <button type="submit" class="btn btn-success" style="margin-left: 160px;" (click)="checkData()" >Login</button>
    </form>
</div>


</div> 